/* ============ FONTS START ============ */
/* latin */
@font-face {
  font-family: "SFUIDisplay";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/SFUIDisplay-Light.woff2) format("woff2");
}
@font-face {
  font-family: "SFUIDisplay";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/SFUIDisplay-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "SFUIDisplay";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/SFUIDisplay-Bold.woff2) format("woff2");
}
/* ============ FONTS END ============ */

/* ============ CSS RESET START ============ */

/* http://meyerweb.com/eric/tools/css/reset/ 
           v2.0 | 20110126
           License: none (public domain)
        */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ============ CSS RESET END ============ */

/* ============ COMMON STYLES START ============ */

*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --bg-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 0%);
  --header-text-color: hsl(0, 0%, 59%);
  --brand-color: hsl(0, 0%, 100%);
}
body {
  color: var(--text-color);
  font-family: "SFUIDisplay", system-ui, -apple-system, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--bg-color);
  overflow-x: hidden;
}
a,
span,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  color: #fff;
}
.container {
  width: 100%;
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-wide {
  max-width: 1470px;
}
.container-huge {
  max-width: 2064px;
}
.section-title {
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 700;
  text-transform: uppercase;
}
/* ============ COMMON STYLES END ============ */

/* ============ HEADER START ============ */
.header-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
.header-top::before {
  content: "";
  background: url("../img/header-pic1.webp") no-repeat;
  position: absolute;
  top: 0;
  left: -520px;
  width: 600px;
  height: 600px;
  z-index: -1;
}
.header-top::after {
  content: "";
  background: url("../img/header-pic2.webp") no-repeat;
  position: absolute;
  top: 0;
  left: 19px;
  width: 600px;
  height: 600px;
  z-index: -1;
}
.header-top__logo-link {
  padding: 15px;
  margin-left: -15px;
  position: relative;
  z-index: 10;
}
.header-top__logo-pic {
  width: 68px;
  height: 71px;
}
.action-block {
  display: flex;
}
.action-block__btn {
  width: 200px;
  height: 68px;
  padding: 18px 38px 14px 40px;
  background-color: #27c5dc;
  clip-path: polygon(100% 100%, 100% 0, 13% 7%, 0 45%, 0% 100%);
  font-size: 15px;
  color: #fff;
  text-align: center;
  margin-left: 27px;
  letter-spacing: 0.01em;
}
.action-part {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}
.action-part__phone {
  font-size: 25px;
  margin-left: auto;
  font-weight: 300;
  margin-top: 5px;
  line-height: 1.5;
}
.change-language {
  margin-right: -5px;
  margin-top: 5px;
  position: relative;
  z-index: 2;
}
.change-language__btn {
  color: #c1c1c1;
  font-size: 15px;
  line-height: 2;
  text-transform: uppercase;
  margin: 0 5px;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}
.change-language__btn:hover,
.change-language__btn:focus-within {
  color: #000;
  border-bottom: 3px solid #27c5dc;
}
.menu {
  background-color: #000;
  color: #fff;
  font-size: 15px;
}
.menu-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navbar {
  display: flex;
  margin-left: -12px;
}
.navbar__link {
  padding: 8px 12px;
  transition: 0.3s;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navbar__link:hover {
  background-color: #2b2b2b;
}
.menu__form-select {
  margin-right: 17px;
}
.menu__city-select {
  position: relative;
  font-size: 15px;
  color: #fff;
  border: none;
  padding: 10px 15px 10px 15px;
  background-color: #2b2b2b;
  appearance: none;
  letter-spacing: 0.03em;
  line-height: 1.5;
}
.menu__city-select::after {
  content: "\25BC";
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  width: 20px;
  height: 20px;
  background-color: #fff;
}
.menu__btn {
  font-size: 15px;
  border: none;
  padding: 8px 13px;
  transition: 0.3s;
  margin-left: 12px;
  letter-spacing: 0.02em;
}
.menu__btn:hover {
  background-color: #2b2b2b;
}
/* ============ HEADER END ============ */

/* ============ HERO START ============ */
.hero {
  background: url("../img/hero-pic.webp") no-repeat 50% 50% / cover;
  padding-top: 90px;
  padding-bottom: 260px;
  color: #fff;
}
.hero__content {
  max-width: 750px;
  padding-left: 3px;
}
.hero__title {
  font-size: 50px;
  margin-bottom: 22px;
}
.hero__title span {
  font-weight: 300;
}
.hero__text {
  padding-left: 30px;
  padding-right: 180px;
  border-left: 3px solid #27c5dc;
  line-height: 1.16;
  margin-bottom: 20px;
}
.subparagraph {
  display: flex;
}
.hero__icon {
  margin-right: 20px;
}
/* ============ HERo END ============ */
