/* ============ FONTS START ============ */
/* latin */
@font-face {
  font-family: "SFUIDisplay";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/SFUIDisplay-Light.woff2) format("woff2");
}
@font-face {
  font-family: "SFUIDisplay";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/SFUIDisplay-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "SFUIDisplay";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/SFUIDisplay-Bold.woff2) format("woff2");
}
/* ============ FONTS END ============ */

/* ============ CSS RESET START ============ */

/* http://meyerweb.com/eric/tools/css/reset/ 
           v2.0 | 20110126
           License: none (public domain)
        */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ============ CSS RESET END ============ */

/* ============ COMMON STYLES START ============ */

*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --bg-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 0%);
  --header-text-color: hsl(0, 0%, 59%);
  --brand-color: hsl(0, 0%, 100%);
}
body {
  color: var(--text-color);
  font-family: "SFUIDisplay", system-ui, -apple-system, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--bg-color);
  overflow-x: hidden;
}
a,
span,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  color: #fff;
}
.container {
  width: 100%;
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-wide {
  max-width: 1470px;
}
.container-huge {
  max-width: 2064px;
}
.section-title {
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 700;
  text-transform: uppercase;
}
/* ============ COMMON STYLES END ============ */

/* ============ HEADER START ============ */
.header-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
.header-top::before {
  content: "";
  background: url("../img/header-pic1.webp") no-repeat;
  position: absolute;
  top: 0;
  left: -520px;
  width: 600px;
  height: 600px;
  z-index: -1;
}
.header-top::after {
  content: "";
  background: url("../img/header-pic2.webp") no-repeat;
  position: absolute;
  top: 0;
  left: 19px;
  width: 600px;
  height: 600px;
  z-index: -1;
}
.header-top__logo-link {
  padding: 15px;
  margin-left: -15px;
  position: relative;
  z-index: 10;
}
.header-top__logo-pic {
  width: 68px;
  height: 71px;
}
.action-block {
  display: flex;
  margin-bottom: -1px;
}
.action-block__btn {
  width: 200px;
  height: 68px;
  padding: 18px 38px 14px 40px;
  background-color: #27c5dc;
  clip-path: polygon(100% 100%, 100% 0, 13% 7%, 0 45%, 0% 100%);
  font-size: 15px;
  color: #fff;
  text-align: center;
  margin-left: 27px;
  letter-spacing: 0.01em;
}
.action-part {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}
.action-part__phone {
  font-size: 25px;
  margin-left: auto;
  font-weight: 300;
  margin-top: 5px;
  line-height: 1.5;
}
.change-language {
  margin-right: -5px;
  margin-top: 5px;
  position: relative;
  z-index: 2;
}
.change-language__btn {
  color: #c1c1c1;
  font-size: 15px;
  line-height: 1.8;
  text-transform: uppercase;
  margin: 0 5px;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}
.change-language__btn:hover,
.change-language__btn:focus-within {
  color: #000;
  border-bottom: 3px solid #27c5dc;
}
.menu {
  background-color: #000;
  color: #fff;
  font-size: 15px;
}
.menu-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navbar {
  display: flex;
  margin-left: -12px;
}
.navbar__link {
  padding: 11px 12px;
  transition: 0.3s;
  letter-spacing: 0.02em;
}
.navbar__link:hover {
  background-color: #2b2b2b;
}
.menu__form-select {
  margin-right: 17px;
  position: relative;
}
.menu__city-select {
  font-size: 15px;
  color: #fff;
  border: none;
  padding: 11px 15px;
  background-color: #2b2b2b;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  letter-spacing: 0.03em;
}
.menu__form-select::after {
  content: "▼";
  position: absolute;
  left: 160px;
  top: 16px;
  z-index: 100;
  font-size: 8px;
  color: #27c5dc;
}
.menu__btn {
  font-size: 15px;
  border: none;
  padding: 11px 13px;
  transition: 0.3s;
  margin-left: 12px;
  letter-spacing: 0.02em;
}
.menu__btn:hover {
  background-color: #2b2b2b;
}
/* ============ HEADER END ============ */

/* ============ HERO START ============ */
.hero {
  background: url("../img/hero-pic.webp") no-repeat 50% 50% / cover;
  padding-top: 90px;
  padding-bottom: 260px;
  color: #fff;
}
.hero__content {
  max-width: 750px;
  padding-left: 3px;
}
.hero__title {
  font-size: 50px;
  margin-bottom: 22px;
}
.hero__title span {
  font-weight: 300;
}
.hero__text {
  padding-left: 30px;
  padding-right: 180px;
  border-left: 3px solid #27c5dc;
  line-height: 1.16;
  margin-bottom: 20px;
}
.subparagraph {
  display: flex;
}
.hero__icon {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}
/* ============ HERo END ============ */

/* ============ INTERMEDIATE SECTION START ============ */
.intermediate-section {
  padding-top: 140px;
  padding-bottom: 60px;
  position: relative;
  text-align: center;
}
.intermediate-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 800px;
  height: 650px;
  background: url("../img/section-pic2.webp") no-repeat calc(50% - 236px) -269px;
}
.intermediate-section::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 800px;
  height: 650px;
  background: url("../img/section-pic1.webp") no-repeat calc(50% + 155px) -250px;
}
.intermediate-section__text {
  padding: 0 70px;
  margin-bottom: 27px;
}
.intermediate-section__btn {
  border: 3px solid #0a6dc9;
  border-radius: 10px;
  font-weight: 700;
  padding: 10px 47px;
  transition: 0.3s;
}
.intermediate-section__btn:hover {
  background: #0a6dc9;
  color: #fff;
}
/* ============ INTERMEDIATE SECTION END ============ */

/* ============ OFFER SECTION START ============ */
.offer-section {
  padding: 70px 0;
}
.triggers-block {
  display: flex;
  justify-content: space-between;
}
.triggers-block__item {
  width: 466px;
  text-align: center;
}
.triggers-block__pic {
  width: 466px;
  height: 284px;
  border-radius: 30px;
  margin-bottom: 15px;
}
/* ============ OFFER SECTION END ============ */

/* ============ PROGRAM SECTION START ============ */
.program-section {
  padding: 70px 0;
  position: relative;
}
.program-section::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1000px;
  height: 1100px;
  z-index: -1;
  transform: rotateZ(-3.5deg);
  background: url("../img/prog-sec-pic.webp") no-repeat calc(50% - 50px) 178px;
}
.programs-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.program-block__card {
  width: 710px;
  position: relative;
}
.program-block__card::before {
  content: "14-55 ЛЕТ";
  position: absolute;
  top: 45px;
  right: 0;
  width: 146px;
  height: 57px;
  border-radius: 10px 0 0 10px;
  font-weight: 700;
  padding: 18px 28px 17px 28px;
  background: #fff;
}
.program-block__card:nth-child(2)::before {
  content: "18-55 ЛЕТ";
}
.program-block__card:nth-child(n + 3) {
  margin-top: 20px;
}
.program-block__pic {
  border-radius: 30px 30px 0 0;
  width: 710px;
  height: 284px;
}
.card-bottom {
  border-radius: 0 0 30px 30px;
  background-color: #f2f6f9;
  margin-top: -7px;
  display: flex;
  align-items: center;
}
.program-block__title {
  text-transform: uppercase;
  font-weight: 700;
  padding: 28px 0 24px 37px;
}
.program-block__btn {
  padding: 32px 24px;
  background: #0066c5;
  margin-left: auto;
  border-radius: 0 0 30px 0;
  box-shadow: 0px 0px 0px #0066c5;
}
.program-block__btn img {
  width: 42px;
  height: 15px;
}
/* ============ PROGRAM SECTION END ============ */

/* ============ BENEFITS SECTION START ============ */
.benefits-section {
  padding: 70px 0;
}
.benefits-block {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.benefits-block__item {
  width: 344px;
  padding: 0 58px;
  position: relative;
}
.benefits-block__item:nth-child(n + 2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -11px;
  width: 3px;
  height: 183px;
  background-color: #f2f6f9;
}
.benefits-block__item:first-child > .benefits-block__pic {
  padding-top: 36px;
}
.benefits-block__pic {
  width: 130px;
  height: 120px;
  margin-bottom: 14px;
}
/* ============ BENEFITS SECTION END ============ */

/* ============ GET CONSULTATION SECTION START ============ */
.get-consultation {
  padding: 70px 0 145px 0;
}
.consultation-content {
  display: flex;
  justify-content: center;
  position: relative;
  width: 1400px;
  margin: 0 auto;
}
.get-consultation__fisrt-pic {
  position: absolute;
  top: 0;
  left: -21%;
  z-index: 10;
  width: 258px;
  height: 647px;
  object-fit: cover;
  border-radius: 30px;
}
.get-consultation__offer {
  max-width: 610px;
  padding-left: 90px;
  margin-left: -884px;
}
.get-consultation__title {
  margin-bottom: 40px;
}
.get-consultation__text {
  margin-bottom: 40px;
  padding-right: 17px;
}
.get-consultation__btn {
  font-weight: 700;
  background: #0066c5;
  border-radius: 10px;
  font-size: 17px;
  color: #fff;
  padding: 15px 52px;
  letter-spacing: 0.03em;
}
.get-consultation__second-pic {
  position: absolute;
  top: 0;
  right: -24%;
  width: 1110px;
  height: 647px;
  object-fit: cover;
}
/* ============ GET CONSULTATION SECTION END ============ */

/* ============ FOOTER START ============ */
.footer {
  padding-top: 145px;
  padding-bottom: 18px;
}
.footer-wrap {
  padding-top: 18px;
  padding-bottom: 38px;
  text-align: center;
  background: #000;
  color: #fff;
}
.footer__title {
  font-weight: 700;
  margin-bottom: 22px;
}
.social-media {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__link {
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 0.3s;
  width: 42px;
  font-size: 15px;
  height: 42px;
  align-items: center;
  justify-content: center;
}
.footer__link:hover {
  border: 1px solid #27c5dc;
  color: #27c5dc;
}
.footer__link:nth-child(n + 2) {
  margin-left: 15px;
}
.footer__copyright {
  font-size: 11px;
}
/* ============ FOOTER END ============ */
